<!doctype html>
<html lang="en" ng-app="presentationApp">
<head>
  <meta charset="utf-8">

  <title>AngularJS Presentation</title>

  <meta name="description" content="An in-house AngularJS Prentation">
  <meta name="author" content="Carlos Justiniano">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/reveal.min.css">
  <link rel="stylesheet" href="css/theme/sky.css" id="theme">
  <link rel="stylesheet" href="css/presentation.css">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<div class="reveal">
<div class="slides">

<!-- Title slide  -------------------------------------------------------------------->
<section data-transition="cube" data-transition-speed="medium">
  <img style="border: 0; padding: 20px;" src="images/AngularJS-medium.png">
  <!--<h2>AngularJS Presentation</h2>-->
  <h4>An in-house AngularJS Presentation</h4>

  <p>
    <small>Presented by <a href="http://cjus.me">Carlos Justiniano</a> / <a href="http://twitter.com/cjus">@cjus</a>
    </small>
  </p>

</section>

<!-- The changing web -------------------------------------------------------------------->
<!--data-background="images/DSC07942-201309.jpg"-->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The changing web</h2>
    <ul>
      <li>The advent of AJAX marked a web shift</li>
      <li>As a result sites became more responsive</li>
    </ul>
    <aside class="notes">
      <p>AJAX marked an important shift in the development of the web.</p>
      <p>Front-ends started relying less on backend servers as more application logic moved into the front-end.</p>
      <p>This benifited the backend because rendering, logic and computation could be distributed to user machines
        allowing backends to more easily scale.
      </p>
    </aside>
  </section>

  <!-- Handling front-end complexity -------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Handling front-end complexity</h2>
    <ul>
      <li>Code moves into the front-end</li>
      <li>Developers face increased code complexity</li>
      <li>Enter: open-source front-end web frameworks with names like: Backbone, Ember, Knockout and
        Angular
      </li>
    </ul>
    <aside class="notes">
      <p>As code moved into the front-end and front-ends became richer, developers found they needed ways to handle the
      increased code in the front-end. So they consider how large applications are built using software libraries and
      frameworks.</p>
      <p>They begin developing open-source front-end web frameworks with names like: Backbone, Ember, Knockout and
        Angular.</p>
    </aside>
  </section>

  <!-- AngualrJS -------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>AngualrJS</h2>
    <ul>
      <li>Angular is loosely similar to many of the other frameworks that emerged to address the increasing demands
        of modern web
        development
      </li>
      <li>However, the similarities quickly give way to an amazing array of cleanly integrated and forward thinking
        features
      </li>
      <li>We'll cover many of Angular's features in this presentation</li>
    </ul>
  </section>
</section>

<!-- Why AngularJS -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Why AngularJS?</h2>
    <ul>
      <li>Embraces the spirit and potential of HTML5</li>
      <li>Offers features which are designed to work together</li>
      <li>Simplifies building modern web application</li>
    </ul>
  </section>
  <!-- The original vision for Angular -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The original vision</h2>

    <p>Originally, Angular was designed as a way of enabling designers to use HTML markup to build application without
      having to know how to program</p>
  </section>

  <!--  -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <p>The core belief is that the best way to build user interfaces is by using declarative programming</p>

    <p>In this approach,
      designers would be able to declare the behavior or components without knowing how the underlying behaviors were
      implemented</p>
  </section>
</section>

<!-- Where did Angular come from? -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Where did Angular come from?</h2>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>AngularJS was created in 2008 and 2009 by Miško Hevery and Adam Abrons</li>
      <li>The two set out to build an online JSON storage service hosted at GetAngular.com</li>
      <li>They eventually decided to scrap the business venture and release Angular as an open source project</li>
      <li>Adam left the project, but Misko pressed on while working at Google</li>
    </ul>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>At Google, Misko meet Brad Green who recruited him to work on the Google Feedback project</li>
      <li>The project was difficult to work with and at one point Misko claimed he could rewrite the product in two
        weeks using his personal side project, called Angular
      </li>
      <li>At the time Google Feedback had 17,000 lines of code developed over six months by three developers</li>
      <li>Brad took Misko up on this offer and Misko didn't quite pull it off.</li>
    </ul>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>Instead it took him three weeks to rewrite the product and reduce the codebase from 17,000
        lines to just 1500 lines of code
      </li>
      <li>Based on this success, Brad recommended open sourcing the early Angular and recruiting other Googlers to join
        the project
      </li>
      <li>Because the project was open sourced, developers outside of google took notice of the project and started
        using and contributing to it
      </li>
    </ul>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>One such person turned out to be another Googler, Marc Jacobs from the Google DoubleClick team</li>
      <li>Marc was part of the Google acquisition of DoubleClick and was tasked to convert a DoubleClick app
        from Microsoft .NET to the Google Platform
      </li>
      <li>Marc, impressed by Angular, devoted a two week sprint to trying the conversion using two parallel approaches:
        1) Using AngularJS 2) Using Google's GWT
      </li>
      <li>Two days into the sprint he completed the project using Angular. Then he tried the same project using GWT and
        after five days he gave up on it.
      </li>
    </ul>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>In October of 2013, the Angular team hosted an internal conference at Google in Mountain View, CA</p>

    <p>They expected around 50 people would attend</p>

    <p>When the conference started there were 197 attendees, presenting 101 project within Google</p>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>Angular was gaining traction inside and outside of Google</li>
      <li>The Angular team started tracking how often developers searched for angular relative to other popular
        frameworks
      </li>
    </ul>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>At the 2014, first ever AngularJS conference, Brad and Misko announced that by mid-2013 the popularity of Angular
      skyrocketed in comparison to other frameworks</p>
    <img src="images/framework-trends.png">
  </section>

</section>

<!-- What can Angular do for you? -------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>What can Angular do for you?</h2>
  <ul>
    <li>Make it easier for you to reason about and build your web application - regardless of its size and
      complexity
    </li>
    <li>Applications which embrace Angular's features are inherently more testable</li>
  </ul>
</section>

<!-- Key points -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Key Concepts</h2>
    <aside class="notes">
      <p>In this section we'll explore key concepts in AngularJS</p>
      <p>The goal is to get a sense of what's available and how we can take advantage of Angular in our own applications.</p>
    </aside>
  </section>

  <!-- Test code -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Test code</h2>
    <p>Here's the structure of the basic angular enabled page we'll reuse in this presentation.</p>
    <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;Basic Angular App&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <p>Before we dig too deeply into code lets examine a few core concepts...</p>
    <aside class="notes">
      <p>Here is a basic HTML file that uses angular. We'll use this structure through this presentation. At the top of
        the file we see an ng-app attribute. This is simply a data tag which will be used by the angular script once it loads.</p>
      <p>Within the bottom of the body tag we see that angular is loaded along with our app.js script.</p>
      <p>Before we dig too deeply into code lets examine a few core concepts.</p>
      <p>I promise we'll be back in code shortly.</p>
    </aside>
  </section>

  <!-- Embracing best practices -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Embracing best practices</h2>
    <p>The Angular team borrowed heavily from other<br>successful frameworks</p>
    <p>Angular's claim to fame is that it implements popular idioms while embracing HTML and other web standards</p>
    <p>Angular is more about embracing HTML<br>than wrestling with it</p>
    <aside class="notes">
      <p>Developers were using existing JavaScript frameworks long before Angular was introduced.</p>
      <p>What makes Angular interesting to developers is that it represents an evolution over older frameworks.</p>
      <p>One that embraces web standards and modern best practices.</p>
      <p>Angular developers borrowed heavily from what preceded it.</p>
    </aside>
  </section>

  <!-- Declarative programming -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Declarative programming</h3>
    <p>Angular embraces HTML, by allowing designers and developers to describe what their HTML should do</p>
    <aside class="notes">
      <p>As a generalization lets consider that there are two general forms of programming: imperative and declarative.</p>
      <p>We can think of imperative as telling the computer how to do something. This is what we do when we write Python, Ruby or JavaScript code.</p>
      <p>Declarative programs describe what programs should do and not how they're implemented.</p>
      <p>A classic example of declarative programming is the SQL language which describes queries and database operations
        at a high level of abstraction</p>
      <p>Angular embraces HTML, by allowing developers to describe what their HTML should do. It does this by extending
        HTML along the same path that HTML5 has extended HTML - by adding markup directives</p>
      <p>A core Angular philosophy is that the best way to build UIs is using declaritive syntax. With Angular we add behavior to HTML markup using directive.</p>
      <p>Let's take a closer look at this directive stuff.</p>
    </aside>
  </section>

  <!-- HTML5 data attribute -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>HTML5 data attribute</h3>
    <p>The HTML5 data attribute allows designers to specify additional properties and behaviors for HTML5 elements.</p>
    <p>By querying the DOM, programmers can detect the presence of attributes to augment the element.</p>
    <aside class="notes">
      <p>HTML5 data attributes allowed things like jQueryMobile to simplify building mobile applications.</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>In this example, jQueryMobile uses the <span class="pres-blue">data-role</span> and <span
      class="pres-blue">data-filter-placeholder</span>
      attributes to determine how the list
      should be transformed</p>
    <pre><code>
  &lt;ul data-role=&quot;listview&quot; data-filter=&quot;true&quot; data-filter-placeholder=&quot;Search fruits...&quot;
  data-inset=&quot;true&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Apple&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Banana&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Cherry&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Cranberry&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Grape&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Orange&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
    </code></pre>
    <p>From the above to this...</p>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>To this:</p>
    <img src="images/Listview_-_jQuery_Mobile_Demos.png">
    <aside class="notes">
      <p>Beyond the mobile styling of what started off as simple markup, jQueryMobile has added behavior to mimic a
        popular component that allows for data navigation on mobile devices.</p>
      <p>The rows highlight as the user moves up and down the list, and the button on the right cause the panel to side to the left revealing a detail panel.</p>
      <p>The search field at the top of the control allows for filtering of the list in realtime.</p>
      <p>Angular fully embraces this paradigm by allowing developers to build their own component using directives.</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>Angular calls these directives. Fow now, you can think of directives as meta data for markup</p>
    <p>Earlier, we saw examples of directives when we looked at HTML for our basic angular app</p>
    <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;Basic Angular App&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <p>The <span class="pres-blue">ng-app</span> and <span class="pres-blue">ng-model</span> in the
      markup above are Angular directives used to convey important information to
      Angular concerning where the Angular application begins and which model an input is bound to</p>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>Angular calls these directives. Fow now, you can think of directives as meta data for markup.</p>
      <pre><code>
  !doctype html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
    &lt;label&gt;Name:&lt;/label&gt;
    &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot;
    placeholder=&quot;Enter a name here&quot;&gt;
    &lt;hr&gt;
    &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
    &lt;/div&gt;
    &lt;script src=&quot;js/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
      </code></pre>
    <p>The <span class="pres-blue">ng-app</span> and <span class="pres-blue">ng-model</span> in the
      markup above are Angular directives used to convey important information to
      Angular concerning where the Angular application begins and which model an input is bound to</p>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <h3>Let's see a live example:</h3>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h2>Hello {{yourName}}!</h2>
    </div>
  </section>

  <!-- More fun with data binding -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>More fun with data binding</h3>
    <p>Expressions can be evaluated inside of mustache tags</p>
    <img src="images/databinding.png">
    <aside class="notes">
      <p>You can do a lot more with data binding. Inside of mustache tags you can have expressions evaluated.</p>
      <p>Those expressions can use data values you define. It's important to note that this isn't JavaScript, they're
        expressions which Angular parses and makes sense of.</p>
      <p>The beauty of this is that has the data values change the page updates without requiring a round trip to a
        backend server.</p>
    </aside>
  </section>

  <!-- Data binding and filters -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Data binding and filters</h2>
    <aside class="notes">
      <p>Introduce filters</p>
      <p>currency</p>
      <p>captilization</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <h3>Extending HTML</h3>
    <p>With Angular we can define our own directives as I did below with the ph-panel directive:</p>
    <pre><code>
  &lt;div ph-panel title=&quot;This is the panel's title&quot;&gt;
  &lt;p&gt;This is the panel's body.&lt;/p&gt;
  &lt;/div&gt;
    </code></pre>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>Here is the live code using the ph-panel directive:</p>
    <div ph-panel title="This is the panel's title">
      <p>This is the panel's body.</p>
      <p>A few extra lines for good measure</p>
      <p>A few extra lines for good measure</p>
      <p>A few extra lines for good measure</p>
      <p>A few extra lines for good measure</p>
    </div>
  </section>

  <!-- Angular MVC -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Angular MVC</h2>
    <p>Angular support application seperation of concerns using MVC and modules such as services and routers</p>
    <ul>
      <li>In Angular, the Model is implemented using the scope</li>
      <li>Views are simply HTML templates with declarative annoations and data interpolations</li>
      <li>And Controllers are just plain old JavaScript object</li>
    </ul>
  </section>

  <!-- Scope -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Scope</h2>
  </section>

  <!-- Understanding Scope -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Understanding Scope</h2>
    <aside class="notes">
      <p>Discuss RootScope and Scope</p>
    </aside>
  </section>

  <!-- Controllers -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Controllers</h2>
    <aside class="notes"></aside>
  </section>

  <!-- Controllers and scope -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Controllers and scope</h2>
    <aside class="notes">
      <p>Discuss scope inheritance</p>
    </aside>
  </section>

  <!-- Controllers and methods -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Controllers and methods</h2>
    <aside class="notes"></aside>
  </section>

  <!-- Angular Modules -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Angular Modules</h2>
    <aside class="notes"></aside>
  </section>

  <!-- Angular Services -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Angular Services</h2>
    <aside class="notes">
      Sharing data between controllers using services
    </aside>
  </section>
</section>

<!-- Angular best practices -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Angular best practices</h2>
</section>

<!-- Testing Angular -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Testing Angular</h2>
    <ul>
      <li>The Angular as its own test runner for Angular called Karma</li>
      <li>Karma executes Jasmine BDD style tests</li>
      <li>For end-to-end tests Angular has a tool called Protractor</li>
    </ul>
  </section>

  <!-- Testing directives -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Testing directives</h3>
  </section>

  <!-- Testing controllers -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Testing controllers</h3>
  </section>

  <!-- Testing services -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Testing services</h3>
  </section>

  <!-- End to end testing using Protractor -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>End to end testing using Protractor</h3>
  </section>
</section>

<!-- How does Angular work? -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>How does Angular work?</h2>
  <p>TODO: Angular life cycle</p>
</section>

<!-- Anglular and Friends -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section>
    <h2>Angular and Friends</h2>
    <p>Google members have written a number of excellent tools which support AngularJs development</p>
    <ul>
      <li>Karma: A test runner for Angular</li>
      <li>Yeoman: A set of tools which provide code generation, package management and build support (tasks execution)
      </li>
      <li>Protractor: An end to end testing framework for Angular which uses Selenium and WebDriverJS</li>
      <li>Batarang: A chrome plugin which allows you to inspect Angular as it runs</li>
    </ul>
  </section>
</section>

<!-- Thinking about your application in terms of Angular -------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Thinking about your application in terms of Angular</h2>
  </section>
  <section>
    <h2>Breaking down your application</h2>
    <ul>
      <li>Separate your app into modules, models, controllers, directives, and services</li>
    </ul>
  </section>
</section>

<!-- How large is Angular? -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>How large is Angular?</h2>
    <p>You might think all of Angular's features result in a large and bloated framework</p>
  </section>
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Actually, it weighs in at only...</h3>
    <ul>
      <li class="fragment">104K minified</li>
      <li class="fragment">38K minified and gzipped</li>
      <li class="fragment">To put this in context, jQuery 2.1.1 is 84K minified</li>
    </ul>
  </section>
</section>

<!-- A few Angular tidbits -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>A few Angular tidbits</h2>
  </section>

  <!-- Why is it called Angular? -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Why is it called Angular?</h3>
    <p>People often ask why the name Angular? AngularJS focuses on HTML markup which contains angled brackets</p>
    <p>So Angular was named after the HTML angled brackets</p>
  </section>

  <!-- Why is the logo a shield with a letter A on it? -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Why is the logo a shield with a letter "A" on it?</h3>
    <ul>
      <li>The logo was chosen because the shield resembles the HTML5 logo which also uses a shield and Angular runs on
        top of HTML5
      </li>
      <li>Also Misko liked the logo because the shield represents Angular shielding developers from the low-level
        differences among web browsers
      </li>
    </ul>
  </section>

  <!-- Size of Core Team -------------------------------------------------------------------------->
  <section>
    <h3>Size of Core Team</h3>
    <p>At the the 2014 Angular conference it was announced that there are 14 core members on the Angular team</p>
    <p>Many of the team members were recruited from the Angular community based on their contributions to Angular</p>
  </section>
</section>

<!-- The future of Angular -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The future of Angular</h2>
    <ul>
      <li>Lazy loading dependency injection using ES6 modules</li>
      <li>Faster change detection of data binding using ES6 Object.observe</li>
      <li>Polyfills for features which are not natively supported on all web browsers</li>
      <li>Better support for mobile application development</li>
    </ul>
  </section>
  <section data-transition="linear" data-transition-speed="medium">
    <h3>The future of Angular (cont)</h3>
    <ul>
      <li>Built-in offline support - so apps work completely offine</li>
      <li>AngularDart - Angular for Google's Dart programming language and platform</li>
      <li>Angular 2.0 includes support for emerging browser technologies such as web components and the shadow DOM
        Angular does this in cooperation with the Polymer project
      </li>
      <li>Improved debugging and instrumentation tools. Zone.js for improved stack traces, and diary.js for improved
        logging
      </li>
    </ul>
  </section>
</section>

<!-- Resources -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Resources</h2>
  <!--http://www.ng-newsletter.com/-->
  <aside class="notes">
    <p></p>
  </aside>
</section>

<!-- Closing notes -------------------------------------------------------------------->
<section data-transition="zoom" data-transition-speed="medium">
  <h2>Oh, and one last thing...</h2>
  <p class="fragment">
    This presentation was built using HTML, CSS, JavaScript and uses RevealJS</p>
  <p class="fragment">... and of course it's powered by AngularJS</p>
</section>

</div>
<!-- slides -->
</div>


<!-- Angular project files -->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/presentationapp.js"></script>
<script src="js/ph-panel.js"></script>

<!-- reveal -->
<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script>
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    leap: {
      //gestureDelay: 1000,
      //pointerTolerance: 40,
      naturalSwipe: true,    // Invert swipe gestures
      pointerOpacity: 0.25,      // Set pointer opacity to 0.5
      pointerColor: '#FFFFFF' // color pointer
    },

    // Optional libraries used to extend on reveal.js
    dependencies: [
      { src: 'lib/js/classList.js', condition: function() {
        return !document.body.classList;
      } },
      { src: 'plugin/markdown/marked.js', condition: function() {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/markdown/markdown.js', condition: function() {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() {
        hljs.initHighlightingOnLoad();
      } },
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() {
        return !!document.body.classList;
      } },
      { src: 'plugin/notes/notes.js', async: true, condition: function() {
        return !!document.body.classList;
      } },
      { src: 'plugin/leap/leap-0.2.0.js', async: true }
    ]
  });
</script>
</body>
</html>
