<!doctype html>
<html lang="en" ng-app="presentationApp">
<head>
  <meta charset="utf-8">

  <title>AngularJS Presentation</title>

  <meta name="description" content="An in-house AngularJS Presentation">
  <meta name="author" content="Carlos Justiniano">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="css/reveal.min.css">
  <link rel="stylesheet" href="css/theme/sky.css" id="theme">
  <link rel="stylesheet" href="css/presentation.css">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- If the query includes 'print-pdf', include the PDF print sheet -->
  <script>
    if (window.location.search.match(/print-pdf/gi)) {
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = 'css/print/pdf.css';
      document.getElementsByTagName('head')[0].appendChild(link);
    }
  </script>

  <style>
    .red { color: red; }
    .green { color: green; }
    .blue { color: blue; }
  </style>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<div class="reveal">
<div class="slides">

<!-- Title slide  -------------------------------------------------------------------->
<section data-transition="cube" data-transition-speed="medium">
  <img style="border: 0; padding: 20px;" src="images/AngularJS-Shield.png">

  <h3>YAAP: Yet another AngularJS Presentation</h3>

  <p>
    <small>Presented by <a href="http://cjus.me">Carlos Justiniano</a> / <a href="http://twitter.com/cjus">@cjus</a>
    </small>
  </p>
</section>

<!-- The changing web -------------------------------------------------------------------->
<!--data-background="images/DSC07942-201309.jpg"-->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The changing web</h2>
    <ul>
      <li>The advent of AJAX marked a web shift</li>
      <li>As a result sites became more responsive</li>
      <li>And increasingly complex web applications were being release</li>
    </ul>
    <aside class="notes">
      <p>AJAX marked an important shift in the development of the web.</p>

      <p>Web applications became more responsive and increasingly more ambitious applications were being built.</p>

      <p>Front-ends started relying less on backend servers as more application logic moved into the front-end.</p>

      <p>This benefitted the backend because rendering, logic and computation could be distributed to user machines
        allowing backends to more easily scale.
      </p>
    </aside>
  </section>

  <!-- Handling front-end complexity -------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Handling front-end complexity</h2>
    <ul>
      <li>Code moves into the front-end</li>
      <li>Developers face increased code complexity</li>
      <li>Enter: open-source front-end web frameworks with names like: Backbone, Ember, Knockout and
        Angular
      </li>
    </ul>
    <aside class="notes">
      <p>As code moved into the front-end and front-ends became richer, developers found they needed ways to handle the
        increased front-end code. They were forced to consider how large applications are built using software libraries
        and
        frameworks and bring some of that native and server goodness to front-end development.</p>

      <p>They begin developing open-source front-end web frameworks with names like: Backbone, Ember, Knockout and
        Angular.</p>

      <p>Today there are no lack of choices regarding framework. However, Angular has made a name for itself and many of
        the developers I meet are genuinely excited about it.</p>
    </aside>
  </section>

  <!-- AngualrJS -------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>AngualrJS</h2>
    <ul>
      <li>Angular is loosely similar to many of the other frameworks that emerged to address the increasing demands of
        modern web development
      </li>
      <li>However, the similarities quickly give way to an amazing array of cleanly integrated and forward thinking
        features
      </li>
      <li>We'll cover many of Angular's features in this presentation</li>
    </ul>
  </section>
</section>

<!-- Why AngularJS -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">

  <section data-transition="linear" data-transition-speed="medium">
    <h2>Why AngularJS?</h2>
    <ul>
      <li>Embraces the spirit and potential of HTML5</li>
      <li>Offers features which are designed to work together</li>
      <li>Simplifies building modern web application</li>
    </ul>
    <aside class="notes">
      <p>Angular stands apart from other frameworks in that it is first and foremost about unlocking the potential of
        HTML.</p>

      <p>Angular embraces HTML and extends it in ways which feel natural and uncontrived.</p>

      <p>In fact, starting Angular developers eventually realize that if HTML and the DOM were more evolved then there
        wouldn't be a need for AngularJS.</p>

      <p>Or AngularJS would be a lot different from what it is today. Perhaps, yet another MVC framework.</p>
    </aside>
  </section>
  <!-- The original vision for Angular -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The original vision</h2>

    <p>Originally, Angular was designed as a way of enabling designers to use HTML markup to build application without
      having to know how to program</p>
    <aside class="notes">
      <p>The originally goal for Angular was to provide a way for designers to use HTML markup to build application
        without
        having to know how to program</p>
    </aside>
  </section>

  <!--  -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <p>The core belief is that the best way to build user interfaces is by using declarative programming</p>

    <p>In this approach,
      designers would be able to declare the behavior or components without knowing how the underlying behaviors were
      implemented</p>
    <aside class="notes">
      <p>The basic premise is a powerful one: Allow designers to sketch using HTML, then allow developers to build
        components and behaviors.</p>

      <p>Rinse and repeat</p>

      <p>The more components and behaviors that developers build the more powerfully, designers can sketch and
        iterate.</p>
    </aside>
  </section>

  <!-- What can Angular do for you? -------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>What can Angular do for you?</h2>
    <ul>
      <li>Make it easier for you to reason about and build your web application - regardless of its size and
        complexity
      </li>
      <li>Applications which embrace Angular's features are inherently more testable</li>
    </ul>
  </section>

</section>

<!-- Demo code -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Demo code</h2>

  <p>Here's the structure of the basic angular enabled page we'll reuse in this presentation.</p>
  <!--@formatter:off-->
    <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;Basic Angular App&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
  <p>Before we dig too deeply into code lets examine a few core concepts...</p>
  <aside class="notes">
    <p>Here is a basic HTML file that uses angular. We'll use this structure through this presentation. At the top of
      the file we see an ng-app attribute. This is simply a data tag which will be used by the angular script once it
      loads.</p>

    <p>Within the bottom of the body tag we see that angular is loaded along with our app.js script.</p>

    <p>This is all that is required to begin using AngularJS.</p>

    <p>Before we dig too deeply into code lets examine a few core concepts.</p>

    <p>I promise we'll be back in code shortly.</p>
  </aside>
</section>

<!-- Key points -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
<section data-transition="linear" data-transition-speed="medium">
  <h2>Key Concepts</h2>
  <aside class="notes">
    <p>In this section we'll explore key concepts in AngularJS</p>

    <p>The goal is to get a sense of what's available and how we can take advantage of Angular in our own
      applications.</p>
  </aside>
</section>

<!-- Embracing best practices -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Embracing best practices</h2>

  <ul>
    <li>Angular borrows heavily from other successful frameworks</li>
    <li>Angular implements popular idioms while embracing HTML and other web standards</li>
    <li>It's more about embracing HTML<br>than wrestling with it</li>
  </ul>
  <aside class="notes">
    <p>Angular core developers would be the first to admit that Angular is based heavily on ideas which are far from
      new.</p>

    <p>After all, developers were using existing JavaScript frameworks long before Angular was introduced.</p>

    <p>What makes Angular interesting to developers is that it represents an evolution over older frameworks.</p>

    <p>One that embraces web standards and modern best practices.</p>
    <!--<p>Many envision a world where HTML and browser technologies evolve to a point where frameworks like Angular are far less neessary.</p>-->

  </aside>
</section>

<!-- It's all about the markup -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>It's all about the markup</h2>

  <aside class="notes">
    <p>A core concept we'll see throughout our use of Angular is its focus on HTML markup</p>

    <p>This focus is not misplaced as making HTML more useful and ultimately a pleasure to work with is no simple
      achievement</p>

    <p>Angular does this with its use of declarative programming</p>
  </aside>

</section>

<!-- Declarative programming -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h3>Declarative programming</h3>

  <p>Angular embraces HTML, by allowing designers and developers to describe what their HTML should do</p>

  <aside class="notes">
    <p>We touched on this idea earlier, where Angular was designed to enable designers to "declare" the behaviors
      associated with their markup.
    </p>

    <p>This declarative approach is different from the imperative approach we developers do when we write
      Python, Ruby or JavaScript code.</p>

    <p>With declarative programs we describe what programs should do and not how they're implemented.</p>

    <p>Angular embraces this approach allowing us to do this using directives and HTML behavioral annotations</p>

    <p>A core Angular philosophy is that the best way to build UI's is using declarative syntax. With Angular we add
      behavior to HTML markup using directives.</p>

    <p>Let's take a closer look at this directive stuff.</p>
  </aside>
</section>

<!-- HTML5 increasingly declarative -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h3>HTML5: increasingly declarative</h3>
  <img style="border: 0; padding: 20px;" src="images/newhtml5tags.png">
  <aside class="notes">
    <p>HTML5 adds lots of new elements to HTML:</p>

    <p>This helps relieve the pressure of overloading div elements in ways that makes HTML less
      readable.</p>

    <p>The new HTML elements are great. But what if you wanted to create your own elements?</p>

    <p>Angular, extends HTML to allow you do just that.</p>
  </aside>
</section>

<!-- HTML5 data attribute -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h3>HTML5 data attribute</h3>

  <p>The HTML5 data attribute allows designers to specify additional properties and behaviors for HTML5 elements.</p>

  <p>By querying the DOM, programmers can detect the presence of attributes to augment the element.</p>
  <aside class="notes">
    <p>Coupled with the new HTML5 elements, data attributes contributed to providing considerably more expressive power
      than was previously available.</p>

    <p>This was a really big step forward for HTML</p>

    <p>HTML5 data attributes allowed frameworks like jQueryMobile to simplify building mobile applications.</p>
  </aside>
</section>

<section data-transition="linear" data-transition-speed="medium">
  <p>In this example, jQueryMobile uses the <span class="pres-blue">data-role</span> and <span
    class="pres-blue">data-filter-placeholder</span>
    attributes to determine how the list
    should be transformed</p>
  <!--@formatter:off-->
    <pre><code>
  &lt;ul data-role=&quot;listview&quot; data-filter=&quot;true&quot;
         data-filter-placeholder=&quot;Search fruits...&quot;
         data-inset=&quot;true&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Apple&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Banana&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Cherry&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Cranberry&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Grape&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Orange&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
    </code></pre>
    <!--@formatter:on-->
  <p>From the above to this...</p>
</section>

<section data-transition="linear" data-transition-speed="medium">
  <p>To this:</p>
  <img style="border: 0; padding: 20px;" src="images/Listview_-_jQuery_Mobile_Demos.png">
  <aside class="notes">
    <p>Beyond the mobile styling of what started off as simple markup, jQueryMobile has added behavior to mimic a
      popular component that allows for data navigation on mobile devices.</p>

    <p>The rows highlight as the user moves up and down the list, and the button on the right cause the panel to side
      to the left revealing a detail panel.</p>

    <p>The search field at the top of the control allows for filtering of the list in realtime.</p>

    <p>Angular fully embraces this paradigm by allowing developers to build their own component using directives.</p>
  </aside>
</section>

<section data-transition="linear" data-transition-speed="medium">
  <p>Angular calls these directives</p>

  <p>Earlier, we saw examples of directives when we looked at HTML for our basic angular app</p>
  <!--@formatter:off-->
    <pre><code contenteditable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;Basic Angular App&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;app.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
  <p>The <span class="pres-blue">ng-app</span> in the markup is an Angular directives used to inform Angular where the
    Angular application begins</p>
  <hr>
  <small class="pre-bold pres-light-yellow-highlight">Source: /samplecode/BasicAngularApp</small>
  <aside class="notes">
    <p>When the Angular script loads it scans the DOM looking for the ng-app directive. Angular then restricts its
      operations to just the scope of the ng-app directive.</p>

    <p>You can decorate a single div with the ng-app directive and only use Angular features within that div.</p>
  </aside>
</section>

<section data-transition="linear" data-transition-speed="medium">
  <h3>Extending HTML</h3>

  <p>With Angular we can define our own element as I did below with the ph-panel directive:</p>
  <!--@formatter:off-->
    <pre><code>
  &lt;ph-panel title=&quot;This is the panel's title&quot;&gt;
    &lt;p&gt;This is the panel's body.&lt;/p&gt;
  &lt;/ph-panel&gt;
    </code></pre>
    <!--@formatter:on-->
  <aside class="notes">
    <p>Not only does Angular include a large collection of directives, it also allows developers to build their own
      custom directives.</p>

    <p>In this example we see a ph-panel directive which converts the markup into a styled panel complete with a title
      and body area.</p>

    <p>Notice how we can provide the ph-panel with a title attribute.</p>
  </aside>
</section>

<section data-transition="linear" data-transition-speed="medium">
  <p>Here is the live code using the ph-panel directive:</p>

  <div ph-panel title="This is the panel's title">
    <p>This is the panel's body.</p>

    <p>A few extra lines for good measure</p>

    <p>A few extra lines for good measure</p>

    <p>A few extra lines for good measure</p>

    <p>A few extra lines for good measure</p>
  </div>
  <hr>
  <small class="pre-bold pres-light-yellow-highlight">Source: /samplecode/ph-panel</small>
  <aside class="notes">
    <p>In Angular, the topic of directives is a large one. In fact, Alex Vanston wrote "Angular Directives", an entire
      book which explore directives</p>
  </aside>
</section>

<!-- Delivering on the promise of HTML -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Delivering on the promise of HTML</h2>

  <aside class="notes">
    <p>The declarative nature of HTML and the ability to extend it using directives is fundamental to what Angular
      tries to help designers and developers achieve</p>

    <p>Many of Angular's features are designed first and foremost to support this goal and secondarily to provide the
      tools required to build non-trivial web applications.</p>

    <p>One way in which Angular does this is with a concept called data binding.</p>
  </aside>
</section>


</section>

<!-- Data binding -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Data binding</h2>
    <aside class="notes">
      <p></p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <h2>Data binding</h2>
    <ul>
      <li>Allows data to be bound to markup</li>
      <li>Updated in real-time as data changes</li>
    </ul>
    <aside class="notes">
      <p>Angular supports the ability to bind data to markup and to bi-directionally update that data when the data changes.</p>
      <p>Let's take a closer look.</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <!--@formatter:off-->
    <pre><code ng-non-bindable>
  !doctype html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot;
              placeholder=&quot;Enter a name here&quot;&gt;
      &lt;hr&gt;
      &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
      &lt;/div&gt;
      &lt;script src=&quot;js/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
    <p>The <span class="pres-blue">ng-model</span> in the &lt;input&gt;
      markup above is an Angular directive used to bind data an input control</p>
    <aside class="notes">
      <p>In the example above the ng-model directive is used to bind data to an input control.</p>

      <p>The double curly braces (aka mustache tags) allow us to use the bound data.</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <h3>Let's see a live example:</h3>
    <div>
      <label>Name:</label>
      <input class="pres-input" type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h2>Hello {{yourName}}!</h2>
    </div>
  </section>

  <!-- More fun with data binding -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>More fun with data binding</h3>
    <p>Expressions can be evaluated inside of mustache tags</p>
    <!--@formatter:off-->
    <pre><code contenteditable ng-non-bindable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;DataBinding&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h2&gt;Live text: {{ data.message }}&lt;/h2&gt;
    &lt;h2&gt;{{ &quot;Hello &quot; + &quot;World!&quot; }}&lt;/h2&gt;
    &lt;h2&gt;{{ 2 + 4}}&lt;/h2&gt;

    &lt;label&gt;Message: &lt;/label&gt;
    &lt;input type=&quot;text&quot; ng-model=&quot;data.message&quot;&gt;

    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
    <hr>
    <small class="pre-bold pres-light-yellow-highlight">Source: /samplecode/DataBinding</small>
    <aside class="notes">
      <p>You can do a lot more with data binding. Inside of mustache tags you can have expressions evaluated.</p>

      <p>Those expressions can use data values you define. It's important to note that this isn't JavaScript, they're
        expressions which Angular parses and makes sense of.</p>

      <p>The beauty of this is that has the data values change the page updates without requiring a round trip to a
        backend server.</p>
    </aside>
  </section>

  <!--  -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Live text: {{ data.message }}</h2>
    <h2>{{ "Hello " + "World!" }}</h2>
    <h2>{{ 2 + 4}}</h2>

    <label>Message: </label>
    <input class="pres-input" type="text" ng-model="data.message">

    <aside class="notes">
      <p></p>
    </aside>

  </section>


  <!-- Data binding and filters -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Data binding and filters</h2>
    <ul ng-non-bindable>
      <li>Angular enables data filtering</li>
      <li>Bound expressions can be further processed through a pipe of filters</li>
      <li>The format is: {{ expression | filter }}</li>
    </ul>
    <!--@formatter:off-->
    <pre><code contenteditable ng-non-bindable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;Data binding and Filters&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
     &lt;p&gt;1) Cost: {{ 11.99 + (11.99 * 0.33) | currency }}&lt;/p&gt;
     &lt;p&gt;2) Data: {{ 1288323623006 | date:&apos;yyyy-MM-dd HH:mm:ss Z&apos; }}&lt;/p&gt;
     &lt;p&gt;3) Lowercase: {{ &quot;Buy Now!&quot; | lowercase }}&lt;/p&gt;
     &lt;p&gt;4) Uppercase: {{ &quot;Buy Now!&quot; | uppercase }}&lt;/p&gt;
     &lt;p&gt;5) Here is some JSON data: {{ {&apos;Boy&apos;:&apos;Fred&apos;, &apos;Girl&apos;:&apos;Jill&apos;} | json }}&lt;/p&gt;
     &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
    <hr>
    <small class="pre-bold pres-light-yellow-highlight">Source: /samplecode/DataBindingWithFilters</small>

    <aside class="notes">
      <p>Introduce filters</p>
      <p>currency</p>
      <p>capitalization</p>
    </aside>
  </section>

  <!-- Here's the output -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Here's the output</h2>

    <p>1) Cost: {{ 11.99 + (11.99 * 0.33) | currency }}</p>

    <p>2) Data: {{ 1288323623006 | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>

    <p>3) Lowercase: {{ "Buy Now!" | lowercase }}</p>

    <p>4) Uppercase: {{ "Buy Now!" | uppercase }}</p>

    <p>5) Here is some JSON data: {{ {'Boy':'Fred', 'Girl':'Jill'} | json }}</p>

    <aside class="notes">
      <p></p>
    </aside>
  </section>

  <!-- Data binding with CSS classes -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Data binding with CSS classes</h2>
    <!--@formatter:off-->
    <pre><code contenteditable ng-non-bindable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app&gt;
  &lt;head&gt;
    &lt;title&gt;DataBindingWithClasses&lt;/title&gt;
    &lt;style&gt;
      .red { color: red; }  .green { color: green; }  .blue { color: blue; }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1 class=&quot;{{ data.classColor }}&quot;&gt;Basic Angular App&lt;/h1&gt;
    &lt;label&gt;Title color: &lt;/label&gt;
    &lt;input type=&quot;text&quot; ng-model=&quot;data.classColor&quot;&gt;
    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
    <hr>
    <small class="pre-bold pres-light-yellow-highlight">Source: /samplecode/DataBindingWithClasses</small>

    <aside class="notes">
      <p>There's a lot more we can do with data binding. But we'll need to move on...</p>
    </aside>
  </section>

  <!--  -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Let's try it!</h2>
    <p class="{{ data.classColor }}">Data Binding with Classes</p>
    <label>Title color: </label>
    <input class="pres-input" type="text" ng-model="data.classColor" placeholder="red, green or blue">
    <aside class="notes">
      <p></p>
    </aside>
  </section>
</section>

<!-- Scope -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Scope</h2>
    <ul>
      <li>A scope is a JavaScript object</li>
      <li>Angular assigns a default scope to each angular application</li>
      <li>Like plain old JS objects, it can hold data, functions, watch expressions and fire events</li>
    </ul>
    <aside class="notes">
      <p>Angular employs a concept called Scope. In many ways Scope is the glue that binds many Angular features.</p>
      <p>Scope is an execution context used to hold data, functions and perform tasks such as watching expressions for changes and firing events.</p>
      <p>Beginning Angular developers sometimes confuse scope with their data models. Instead scope is a place where a data model can be stored and shared.</p>
      <p></p>
    </aside>
  </section>

  <!-- Here's a simple Scope -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Here's a simple Scope</h2>
    <!--@formatter:off-->
    <pre><code contenteditable ng-non-bindable style="font-size: 18px; margin-top: 20px;">
  &lt;!DOCTYPE html&gt;
  &lt;html ng-app ng-init=&quot;data.message=&apos;Hello, from your application scope.&apos;;&quot;&gt;
  &lt;head&gt;
    &lt;title&gt;Simple Scope&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h2&gt;Scope says: {{ data.message }}&lt;/h2&gt;
    &lt;script src=&quot;angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
    </code></pre>
    <!--@formatter:on-->
    <hr>
    <small class="pre-bold pres-light-yellow-highlight">Source: /samplecode/SimpleScope</small>
    <aside class="notes">
      <p></p>
    </aside>

  </section>


  <!-- Understanding Scope -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Understanding Scope</h2>
    <aside class="notes">
      <p>A scope is a JavaScript object.</p>

      <p>In the last slide we talked about scope being a JavaScript object, however we also learned the scope include helper function to perform various data binding related tasks.</p>
      <p>Angular does this by extending plain JS objects with its own scope object.  This retains the data and functions you've added to your scope in addition to the one's Angular has added.</p>
      <p>Discuss RootScope and Scope</p>
      <p>https://github.com/angular/angular.js/wiki/Understanding-Scopes</p>
    </aside>
  </section>

</section>


<!-- Controllers -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Controllers</h2>
  <aside class="notes"></aside>
</section>

<!-- Controllers and scope -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Controllers and scope</h2>
  <aside class="notes">
    <p>Discuss scope inheritance</p>
  </aside>
</section>

<!-- Controllers and methods -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Controllers and methods</h2>
  <aside class="notes"></aside>
</section>

<!-- Angular Modules -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Angular Modules</h2>
  <aside class="notes"></aside>
</section>

<!-- Dependency Injection -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Dependency Injection</h2>
  <aside class="notes">
    <p></p>
  </aside>

</section>


<!-- Angular Services -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Services</h2>
  <aside class="notes">
    Sharing data between controllers using services
  </aside>
</section>


<!-- Angular best practices -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Best practices</h2>
</section>

<!-- Angular MVC -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Pulling it altogether: Angular MVC</h2>

  <p>Angular support application separation of concerns using MVC and modules such as services and routers</p>
  <ul>
    <li>In Angular, the Model is implemented using the scope</li>
    <li>Views are simply HTML templates with declarative annotation and data interpolations</li>
    <li>And Controllers are just plain old JavaScript object</li>
  </ul>
</section>

<!-- Testing Angular -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Testing Angular</h2>
    <ul>
      <li>The Angular as its own test runner for Angular called Karma</li>
      <li>Karma executes Jasmine BDD style tests</li>
      <li>For end-to-end tests Angular has a tool called Protractor</li>
    </ul>
  </section>

  <!-- Testing directives -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Testing directives</h3>
  </section>

  <!-- Testing controllers -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Testing controllers</h3>
  </section>

  <!-- Testing services -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Testing services</h3>
  </section>

  <!-- End to end testing using Protractor -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>End to end testing using Protractor</h3>
  </section>
</section>

<!-- How does Angular work? -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>How does Angular work?</h2>

  <p>TODO: Angular life cycle</p>
</section>

<!-- Anglular and Friends -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section>
    <h2>Angular and Friends</h2>

    <p>Google members have written a number of excellent tools which support AngularJs development</p>
    <ul>
      <li><span class="pres-bold pres-blue">Karma</span>: A test runner for Angular</li>
      <li><span class="pres-bold pres-blue">Yeoman</span>: A set of tools which provide code generation, package
        management and build support (tasks execution)
      </li>
      <li><span class="pres-bold pres-blue">Protractor</span>: An end to end testing framework for Angular which uses
        Selenium and WebDriverJS
      </li>
      <li><span class="pres-bold pres-blue">Batarang</span>: A chrome plugin which allows you to inspect Angular as it
        runs
      </li>
    </ul>
  </section>
</section>

<!-- Thinking about your application in terms of Angular -------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>Thinking about your application in terms of Angular</h2>
  </section>
  <section>
    <h2>Breaking down your application</h2>
    <ul>
      <li>Separate your app into modules, models, controllers, directives, and services</li>
    </ul>
  </section>
</section>

<!-- How large is Angular? -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>How large is Angular?</h2>

    <p>You might think all of Angular's features result in a large and bloated framework</p>
  </section>
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Actually, it weighs in at only...</h3>
    <ul>
      <li class="fragment">104K minified</li>
      <li class="fragment">38K minified and gzipped</li>
      <li class="fragment">To put this in context, jQuery 2.1.1 is 84K minified</li>
    </ul>
  </section>
</section>

<!-- The Angular Story? -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The Angular Story</h2>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>Created in 2008 and 2009 by Miško Hevery and Adam Abrons</li>
      <li>Goal: to build an online JSON storage service</li>
      <li>Business scrapped and code released as open source project</li>
    </ul>
    <aside class="notes">
      <p>AngularJS was created in 2008 and 2009 by Miško Hevery and Adam Abrons</p>

      <p>The two set out to build an online JSON storage service which they hosted under GetAngular.com</p>

      <p>They eventually decided to scrap the business venture and release Angular as an open source project</p>

      <p>Adam left the project, but Misko pressed on while working at Google</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>At Google, Misko joined the Google Feedback project</li>
      <li>At one point Misko claimed he could rewrite the product in two
        weeks using Angular
      </li>
      <li>Google Feedback had 17,000 lines of code developed</li>
    </ul>
    <aside class="notes">
      <p>At Google, Misko meet Brad Green who recruited him to work on the Google Feedback project</p>

      <p>The project was difficult to work with and at one point Misko claimed he could rewrite the product in two
        weeks using his personal side project, called Angular
      </p>

      <p>At the time Google Feedback had 17,000 pnes of code developed over six months by three developers</p>

      <p>Brad took Misko up on this offer and Misko didn't quite pull it off.</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>Using Angular, Misko reduce the code from 17,000 lines to 1500 lines of code
      </li>
      <li>This success lead to open sourcing the early Angular project
      </li>
      <li>External developers start to take notice of Angular
      </li>
    </ul>
    <aside class="notes">
      <p>Instead it took him three weeks to rewrite the product and reduce the codebase from 17,000
        pnes to just 1500 pnes of code
      </p>

      <p>Based on this success, Brad recommended open sourcing the early Angular and recruiting other Googlers to join
        the project
      </p>

      <p>Because the project was open sourced, developers outside of google took notice of the project and started
        using and contributing to it
      </p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>Marc Jacobs from the Google DoubleClick team takes notice</li>
      <li>He decides to compare Angular and Google's own GWT during one of his team's sprints</li>
      <li>Angular proved easier to use</li>
    </ul>
    <aside class="notes">
      <p>One such person turned out to be another Googler, Marc Jacobs from the Google DoubleCpck team</p>

      <p>Marc was part of the Google acquisition of DoubleCpck and was tasked to convert a DoubleCpck app
        from Microsoft .NET to the Google Platform
      </p>

      <p>Marc, impressed by Angular, devoted a two week sprint to trying the conversion using two parallel approaches:
        1) Using AngularJS 2) Using Google's GWT
      </p>

      <p>Two days into the sprint he completed the project using Angular. Then he tried the same project using GWT and
        after five days he gave up on it.
      </p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>2013, the Angular team hosted an internal conference at Google offices</p>

    <p>Initially, 50 people were expected to attend</p>

    <p>197 attendees showed up</p>
    <aside class="notes">
      <p>In October of 2013, the Angular team hosted an internal conference at Google in Mountain View, CA</p>

      <p>They expected around 50 people would attend</p>

      <p>When the conference started there were 197 attendees, presenting 101 project within Google</p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <ul>
      <li>Angular gained traction inside and outside of Google</li>
      <li>The Angular team compares Angular's emerging popularity relative to other popular
        frameworks
      </li>
    </ul>
    <aside class="notes">
      <p>Angular was gaining traction inside and outside of Google</p>

      <p>The Angular team started tracking how often developers searched for angular relative to other popular
        frameworks
      </p>
    </aside>
  </section>

  <section data-transition="linear" data-transition-speed="medium">
    <p>The team announced that by mid-2013 the popularity of Angular
      skyrocketed in comparison to other frameworks</p>
    <img style="border: 0; padding: 20px;" src="images/framework-trends.png">
    <aside class="notes">
      <p>At the 2014, first ever AngularJS conference, Brad and Misko announced that by mid-2013 the popularity of
        Angular skyrocketed in comparison to other frameworks</p>
    </aside>
  </section>

</section>

<!-- A few Angular tidbits -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>A few Angular tidbits</h2>
  </section>

  <!-- Why is it called Angular? -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Why is it called Angular?</h3>

    <p>Named after the HTML angled bracket</p>
    <aside class="notes">
      <p>People often ask why the name Angular? AngularJS focuses on HTML markup which contains angled brackets</p>

      <p>So Angular was named after the HTML angled brackets</p>
    </aside>
  </section>

  <!-- Why is the logo a shield with a letter A on it? -------------------------------------------------------------------------->
  <section data-transition="linear" data-transition-speed="medium">
    <h3>Why is the logo a shield with a letter "A" on it?</h3>
    <ul>
      <li>Logo chosen because the shield resembles the HTML5</li>
      <li>Misko felt that the shield represents Angular shielding developers from the low-level
        differences among web browsers
      </li>
    </ul>
    <aside class="notes">
      <p>The logo was chosen because the shield resembles the HTML5 logo which also uses a shield and Angular runs on
        top of HTML5
      </p>

      <p>Also Misko liked the logo because the shield represents Angular shielding developers from the low-level
        differences among web browsers
      </p>
    </aside>
  </section>

  <!-- Size of Core Team -------------------------------------------------------------------------->
  <section>
    <h3>Size of Core Team</h3>
    <p>By early 2014 Angular had 14 core members</p>
    <aside class="notes">
      <p>At the the 2014 Angular conference it was announced that there are 14 core members on the Angular team</p>
      <p>Many of the team members were recruited from the Angular community based on their contributions to Angular</p>
    </aside>
  </section>
</section>

<!-- The future of Angular -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <section data-transition="linear" data-transition-speed="medium">
    <h2>The future of Angular</h2>
    <ul>
      <li>ES6-based Lazy loading dependency injection</li>
      <li>Use of ES6 Object.observe</li>
      <li>Polyfills for features which are not natively supported on all web browsers</li>
      <li>Better support for mobile application development</li>
    </ul>
    <aside class="notes">
      <p>Lazy loading dependency injection using ES6 modules</p>
      <p>Faster change detection of data binding using ES6 Object.observe</p>
      <p>Polyfills for features which are not natively supported on all web browsers</p>
      <p>Better support for mobile apppcation development</p>
    </aside>
  </section>
  <section data-transition="linear" data-transition-speed="medium">
    <h3>The future of Angular (cont)</h3>
    <ul>
      <li>Built-in offline support - so apps work completely offine</li>
      <li>AngularDart - Angular for Google's Dart programming language and platform</li>
      <li>Angular 2.0 includes support for emerging browser technologies such as web components and the shadow DOM
        Angular does this in cooperation with the Polymer project
      </li>
      <li>Improved debugging and instrumentation tools. Zone.js for improved stack traces, and diary.js for improved
        logging
      </li>
    </ul>
  </section>
</section>

<!-- Resources -------------------------------------------------------------------------->
<section data-transition="linear" data-transition-speed="medium">
  <h2>Resources</h2>

  <!--https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js-->
  <!--http://www.ng-newsletter.com/-->
  <!--http://www.fse.guru/angularjs-code-guidelines-->
  <aside class="notes">
    <p>There's a wealth of AngularJS resources available online.</p>
    <p>However, one resource which is surprisingly overlooked it the actual AngularJS source code.</p>
    <P>The uncompressed / unminified Angular codebase is well documented and a great source for learning what makes Angular tick.</P>
  </aside>
</section>

<!-- Closing notes -------------------------------------------------------------------->
<section data-transition="zoom" data-transition-speed="medium">
  <h2>Oh, and one last thing...</h2>

  <p class="fragment">
    This presentation was built using HTML, CSS, JavaScript and uses RevealJS</p>

  <p class="fragment">... and of course it's powered by AngularJS</p>
</section>

</div>
<!-- slides -->
</div>


<!-- Angular project files -->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/presentationapp.js"></script>
<script src="js/ph-panel.js"></script>

<!-- reveal -->
<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script>
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    leap: {
      //gestureDelay: 1000,
      //pointerTolerance: 40,
      naturalSwipe: true,    // Invert swipe gestures
      pointerOpacity: 0.25,      // Set pointer opacity to 0.5
      pointerColor: '#FFFFFF' // color pointer
    },

    // Optional libraries used to extend on reveal.js
    dependencies: [
      { src: 'lib/js/classList.js', condition: function() {
        return !document.body.classList;
      } },
      { src: 'plugin/markdown/marked.js', condition: function() {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/markdown/markdown.js', condition: function() {
        return !!document.querySelector('[data-markdown]');
      } },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() {
        hljs.initHighlightingOnLoad();
      } },
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() {
        return !!document.body.classList;
      } },
      { src: 'plugin/notes/notes.js', async: true, condition: function() {
        return !!document.body.classList;
      } },
      { src: 'plugin/leap/leap-0.2.0.js', async: true }
    ]
  });
</script>
</body>
</html>
